# ----------------------------------------------------------------              
# DEPENDENCIAS (Muy importante en Monorepos)
# ----------------------------------------------------------------
node_modules/
**/node_modules/
.pnpm-store/

# ----------------------------------------------------------------
# EXPO & REACT NATIVE
# ----------------------------------------------------------------
.expo/
dist/
web-build/
expo-env.d.ts
# Carpetas de compilación nativa (se generan con npx expo run:android/ios)
**/ios/
**/android/

# ----------------------------------------------------------------
# CONFIGURACIÓN Y SECRETOS (¡No subir nunca!)
# ----------------------------------------------------------------
.env
.env.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# ----------------------------------------------------------------
# DEBUG & LOGS
# ----------------------------------------------------------------
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# ----------------------------------------------------------------
# SISTEMA Y TS
# ----------------------------------------------------------------
.DS_Store
*.tsbuildinfo
.eslintcache